<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBoot</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" data-main="/common/scripts/main" th:src="@{/common/scripts/lib/require.js}" th:defer="true" th:async="true"></script>
    <!--<script  data-main="/common/scripts/main" src="https://cdn.bootcss.com/require.js/2.3.4/require.min.js" defer="defer" async="async"></script>-->

</head>
<body>
<form class="form-signin" role="form" th:action="@{/msystem/user/login}" th:method="post">
    <input type="text" class="form-control" placeholder="用户名" required="required" name="username"/>
    <input type="password" class="form-control" placeholder="密码" required="required" name="password"/>
    <button class="btn btn-lg btn-warning btn-block" type="submit">登录</button>
    <label class="checkbox">
        <input type="checkbox" value="remember-me"/> 记住我
    </label>
</form>
</body>
</html>