<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
<div>
    <form th:action="@{/user/login}" method="post">
        <ul style="list-style: none">
            <li><label>用户名：</label><input id="username" name="username" value=""/></li>
            <li><label>密 码：</label><input id="password" name="password" value=""/></li>
            <li><input type="submit" value="登陆"/></li>
        </ul>
    </form>
</div>
</body>
</html>