<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaka.msystem.dao.SysRoleMapper">
    <resultMap id="BaseMap" type="com.kaka.msystem.model.BaseEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.kaka.msystem.model.SysRole" extends="BaseMap">
        <result column="rolename" property="rolename" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>

        <collection property="sysUserSet" ofType="com.kaka.msystem.model.SysUser">
            <id column="userid" property="id" jdbcType="BIGINT"/>
        </collection>
        <collection property="sysMenuSet" ofType="com.kaka.msystem.model.SysMenu">
            <id column="menuid" property="id" jdbcType="BIGINT"/>
            <id column="menuName" property="menuName" jdbcType="BIGINT"/>
        </collection>
    </resultMap>
    <sql id="RoleColumn">

    </sql>

    <sql id="MenuColumn">
          menu.id as menuid, menu.menuName,menu.url,menu.create_date,menu.update_date
    </sql>

    <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        role.* ,
        <include refid="MenuColumn"/>
        FROM sys_role role
        INNER JOIN sys_userrole userrole ON role.id =userrole.roleid
        LEFT JOIN sys_permission permission ON role.id =permission.roleid ,
        `sys_menu` menu
        WHERE userrole.userid=#{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.kaka.msystem.model.SysRole">
         INSERT  INTO  `sys_role` (id,rolename,description,parent_id,state,create_by,update_by,del_flag,version)
      VALUES(#{id},#{rolename},#{description},#{parentId},#{state},#{createBy},#{updateBy},#{delFlag},0)

    </insert>

</mapper>